<!DOCTYPE html>
<html lang="tr">


<!-- molla/elements-products.html  22 Nov 2019 10:04:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TGA || @ViewData["Title"]</title>


    <meta name="keywords" content="TGA">
    <meta name="description" content="TGA">
    <meta name="author" content="Emel Şahin">


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/themes/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/themes/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/themes/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/themes/assets/images/icons/site.html">
    <link rel="mask-icon" href="~/themes/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/themes/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="~/themes/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">




    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/themes/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/themes/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/themes/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/themes/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/themes/assets/css/style.css">



</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/product/index" class="logo">
                            <img src="~/themes/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div>
                    <div class="header-right">
                    </div>
                </div>
            </div>
        </header>

        <main class="main">

            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">

                </div>
            </nav>

            @RenderBody()

        </main>
        <footer class="footer">
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © Emel Şahin | @DateTime.Now.Year</p>
                </div>
            </div>
        </footer>
    </div>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Plugins JS File -->
    <script src="~/themes/assets/js/jquery.min.js"></script>
    <script src="~/themes/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/themes/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/themes/assets/js/superfish.min.js"></script>
    <script src="~/themes/assets/js/owl.carousel.min.js"></script>
    <script src="~/themes/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/themes/assets/js/jquery.plugin.min.js"></script>
    <script src="~/themes/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/themes/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="~/themes/assets/js/main.js"></script>
</body>


</html>