<!DOCTYPE html>
<html lang="tr">


<!-- molla/elements-products.html  22 Nov 2019 10:04:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>


    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">


    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/themes/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/themes/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/themes/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/themes/assets/images/icons/site.html">
    <link rel="mask-icon" href="~/themes/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/themes/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="~/themes/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">




    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/themes/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/themes/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/themes/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/themes/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/themes/assets/css/style.css">



</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="~/themes/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="index.html" class="sf-with-ul">Home</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                            </a>
                        </div><!-- End .cart-dropdown -->
                        <div><li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li></div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">

            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">

                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            @RenderBody()

        </main><!-- End .main -->



        <footer class="footer">
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © Emel Şahin-2021</p><!-- End .footer-copyright -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Plugins JS File -->
    <script src="~/themes/assets/js/jquery.min.js"></script>
    <script src="~/themes/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/themes/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/themes/assets/js/superfish.min.js"></script>
    <script src="~/themes/assets/js/owl.carousel.min.js"></script>
    <script src="~/themes/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/themes/assets/js/jquery.plugin.min.js"></script>
    <script src="~/themes/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/themes/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="~/themes/assets/js/main.js"></script>
</body>


</html>