@using TgaProduct.Entities.Concrete

@model List<Products>


@{
    ViewData["Title"] = "Liste";

}

<div class="page-content">
    <div class="container">

        <div class="row">
            <h3>
                <span>Ürün Listesi</span>
            </h3>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="products mb-3">
                    <div class="row justify-content-center">


                        @foreach (var item in Model)
                        {
                            <div class="col-4 col-md-4 col-lg-4 col-xl-3">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-new">Yeni</span>
                                        <a href="/product/detail/@item.Id">
                                            <img src="~/themes/assets/images/products/product-4.jpg" alt="Product image" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="#" class="btn-product-icon btn-quickview" title="Quick view"><span>Görüntüle</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Karşılaştır</span></a>
                                        </div>

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>Sepete Ekle</span></a>
                                        </div>
                                    </figure>

                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/product/detail/@item.Id">@item.Name</a></h3>
                                        <div class="product-price">
                                            @item.Price ₺
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>